PORT=3000
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_db_password_here
DB_NAME=cctv_db
ENCRYPTION_KEY=your_encryption_key_here

# Keycloak
KC_HOSTNAME=http://localhost:8083
KEYCLOAK_REALM=erpai-realm
KEYCLOAK_CLIENT_ID=erpai2.0-client
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# User Creation
DEFAULT_USER_PASSWORD=Welcome@123
ROLES_WITHOUT_COLLEGE=SUPER_ADMIN,STAFF
